section {
    overflow: hidden;
    width: 70%;
    margin: 0 auto;
    
}


.container__cards-noticias {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
  
}

.cards {
     border: 1px solid black;
}

hr {
    margin-bottom: 1rem;
    height: 1px;
}




@media screen and (max-width: 600px) {
    section {
        width: 90%;
    }

   .cards img {
    width: 100%;
    height: 50%;
    object-fit: cover;
   }

    .container__cards-noticia {
        grid-template-columns: repeat(2, 1fr);
        gap: 0 1rem;
    }
}

@media screen and (max-width: 900px) {
    section {
        width: 90%;
    }

   .cards img {
    width: 100%;
    height: 50%;
    object-fit: cover;
   }

    .container__cards-noticia {
        grid-template-columns: repeat(2, 1fr);
        gap: 0 1rem;
    }
}