.associado {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
  }
  
  form {
    width: 500px;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  }
  
  label {
    font-size: 14px;
    color: #444;
    display: block;
    margin-bottom: 5px;
  }
  
  input, select {
    width: 100%;
    height: 40px;
    padding: 0 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: #5c6bc0;
    color: #fff;
  }
  

  .form-associado {
   display: flex;
   flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .form-associado h2 {
    margin-top: 1.5rem;
    font-size: 32px;
    font-family: 'Arial', sans-serif; /* Escolha a fonte que preferir */
    letter-spacing: 1px; /* Espaçamento entre as letras */
    text-transform: uppercase; /* Transforma todas as letras em maiúsculas */
}

.form-associado p {
    margin: 1rem 0rem;
}

@media (min-width: 769px) and (max-width: 1024px) {
    .form-associado {
      padding: 20px;
    }
  
    form {
      width: 80%;
    }
  
    input, select {
      height: 50px;
      font-size: 18px;
    }
  
    button {
      height: 50px;
      font-size: 18px;
    }
  }
  
  /* Estilos para celulares */
  @media (max-width: 768px) {
    .form-associado {
      padding: 10px;
    }
  
    form {
      width: 90%;
    }
  
    input, select {
      height: 40px;
      font-size: 16px;
    }
  
    button {
      height: 40px;
      font-size: 16px;
    }
  }