.calendario-container_posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .centralizador-botao {
    display: flex;
    margin: 1rem;
    justify-content: center; /* Alinha os itens horizontalmente ao centro */
    align-items: center;
  }
  
  .calendario-button {
   
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 12px 25px;
    font-size: 16px;
    --tw-text-opacity: 1;
    color: rgba(107,114,128,var(--tw-text-opacity));
    --tw-border-opacity: 1;
    border-color: rgba(107,114,128,var(--tw-border-opacity));
    cursor: pointer;
    border-radius: 2rem;
  }
  
  .calendario-container_calendario {
    width: 80%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
  }
  

  .calendario-container_confronto h2 {
    font-size: 24px;
  }

  .calendario-container_confronto h2,
  .calendario-container_confronto p {
    text-align: center;
  }
  
  .calendario-confronto {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    max-width: 100%; /* Adicione esta linha */
  }
  
  .calendario-confronto img {
    width: 90px;
    max-width: 100%; /* Adicione esta linha */
  }
  
 
  
  /* Adicione este bloco de código */
  .calendario-confronto h2 {
    flex-basis: 30%; /* ajuste o valor conforme necessário */
  }
  
  .calendario-confronto h3 {
    flex-basis: 28%;
  }
 