.container_posts {
    display: flex;
   flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .container_calendario {
    max-width: 600px;
    width: 90%;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
    border-radius: 2em;
  }
  

  .confronto {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .container {
    margin-top: 5rem;
   
    width: 100vw;
    padding: 0 10vw;
  }


  @media (max-width: 600px) {
    .container_calendario {
      width: 90%;
      
    }

    .container_calendario h2{
        font-size: 16px;
    }
    
    .confronto img {
      width: 20%;
      
    }
  }
  