.container-noticias_completa {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    padding: 0 10vw;
    
  }
  
 

  .container-noticias_completa h2 {
    text-align: center;
    font-weight: bold;
    font-size: 48px;
  }
  
  .container-noticiascompleta_img {
    max-width: 800px;
    margin-top: 2em;
    height: auto;
  }
  
  .portofolio__item-cta-completa {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }

 
  
  
  @media (max-width: 768px) {
    .main-news {
      width: 100%;
    }
    
    .other-news__individual {
      justify-content: center;
    }
    
    .other-news__individual > div {
      width: calc(50% - 2rem);
    }
  }
  