
.live-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5vh auto;
  width: 90%;
  max-width: 1200px;
  min-height: 70vh; /* Ajuste a altura mínima conforme necessário */
}

.live-container .main-video {
  width: 100%;
  height: 100%;
  min-height: 50vh; /* Ajuste a altura mínima do vídeo principal conforme necessário */
}

.separator {
  width: 100%;
  text-align: center;
  height: 1px;
  margin: 2em 0;
}

.finished-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.finished-container {
  width: 100%;
  max-width: 1200px;
  margin-top: 2rem;
}
/* Estilos para a aba do carrossel */
.carousel-container {
  position: relative;
  margin-top: 2rem;
  display: flex;
  justify-content: center; /* Centraliza os itens horizontalmente */
}

.finished-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  overflow-x: hidden; /* Esconde o overflow horizontal */
  scroll-behavior: smooth; /* Adiciona um efeito suave à rolagem */
  width: 100%;
  height: 90vh;
}

/* Estilos para os itens do carrossel */
.finished-container iframe {
  width: 100%;
  height: 30%;
  max-width: 800px; /* Ajuste o valor conforme necessário */
  border: none; /* Remove a borda do iframe */
}

/* Estilos para as setas do carrossel */
.carousel-arrow {
  position: absolute;
  top: 50%;
  background-color: transparent;

  transform: translateY(-50%);
  font-size: 2rem;
  color: orange;
  padding: 0.5rem;
  cursor: pointer;
  z-index: 2; /* Garante que as setas fiquem acima dos itens do carrossel */
  outline: none; /* Remove a borda de foco */
  border: none;
}


.carousel-arrow.previous {
  left: 1rem;
}

.carousel-arrow.next {
  right: 1rem;
}

/* Estilos para a separação entre os itens do carrossel */
.carousel-separator {
  width: 1px;
  height: 100%;
  background-color: #ccc;
}

/* Estilos para destacar o item atual do carrossel */
.carousel-item.highlighted {
  border: 2px solid #f00;
}

/* Estilos para a transição suave do carrossel */
.finished-container {
  transition: transform 0.3s ease-in-out;
}



@media screen and (max-width: 767px) {
  .live-container {
    padding: 0 20px;
  }
  
  .responsive-iframe {
    width: 100%;
    height: 200px; /* Ajuste a altura conforme necessário */
  }
  
  .finished-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden; /* Oculta a barra de rolagem */
    height: 70vh;
  }
  
  .finished-container iframe {
    max-width: 100%;
    height: auto; /* Ajusta a altura dos vídeos automaticamente */
    margin-bottom: 1rem; /* Adiciona um espaçamento entre os vídeos */
  }
  .carousel-arrow {
    position: absolute;
    top: 100%;
    transform: translateY(-50%);
    font-size: 3rem;
    color: orange;
    background-color: transparent;
    cursor: pointer;
    z-index: 2; /* Garante que as setas fiquem acima dos itens do carrossel */
    
  }
}