.iframe-container {
  width: 90%;
  height: 70vh;
  max-width: 1200px; /* Defina o valor máximo para evitar que o contêiner se estique muito */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.responsive-iframe {
  width: 100%;
  height: 100%;
}



