.live-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5vh auto;
  width: 90%;
  max-width: 1200px;
  height: 100vh;
}

.live-container .main-video {
  width: 100%;
  height: 100%;
}

.separator {
  width: 100%;
  text-align: center;
  height: 1px;
  margin: 2em 0;
}

.finished-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 2rem;
}
