.container {
  display: flex;
  align-items: center;
}

.confrontos {
  width: 60%;
  margin-right: 20px;
}

.noticias {
  width: 40%;
}

.confronto {
  display: flex;
  flex-direction: column;
}

.times {
  display: flex;
}

.noticia {
  display: flex;
  flex-direction: column;
}

.imagem {
  height: 400px;
  overflow: hidden;
}

.imagem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.conteudo {
  padding: 20px;
}

.swiper-pagination-bullet-active {
  background-color: #fff;
}

.swiper-pagination-bullet {
  background-color: #000;
}
