.ajuste_container {
    margin-top: 5rem;
   
    width: 100vw;
    padding: 0 10vw;
}
.container_noticias{
    text-align: center;
    margin-top: 1em;
}

.portofolio__item-img {
  width: 100%;
  height: 500px; /* defina a altura desejada aqui */
  overflow: hidden;
}

.portofolio__item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* para garantir que a imagem cubra todo o elemento */
}


.portofolio__item-cta {
    padding: 2em;
}

.swiper-pagination {
  bottom: 20px; 
}

@media (max-width: 480px) {
  .portofolio__item-img {
    height: 300px;
  }
}
  
