.news-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.news-img-container {
  width: 350px;
}

.news-img {
  width: 100%;
  height: auto !important;
}

.news-img-container p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 18px;     /* fallback */
 -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
  margin-bottom: 1em;
}
